.full-width-table {
  margin-top: 2%;
  width: 90%;
  height: 80%;
  margin-left:5%; 
  margin-right:5%;
}

.margin-all {
  margin: 5px;
}

a {
  font-weight: bold;
  color: #f0a30a;
}

a:hover {
  color: white;
  cursor: pointer;
}