table {
    width: 100% !important;
  }
  .my-form{
    min-width: 150px;
    max-width: 500px;
    margin: auto;
  }

  .full-width {
    width: 80%;
  }

  .title a {
    font-size: 30px;
    color: white;
    text-decoration: none;
    padding-left: 40px;
  }

  tr.element-row:not(.example-expanded-row):hover {
    background: #bdbdbd;
  }

  tr.element-row:not(.example-expanded-row):active {
    background: #efefef;
  }

  .contentBlock{
    width: 80%;
    margin: auto;
    min-width: 900px;
    min-height: 600px;
  }

  .mat-form-field{
    display: block !important;
  }

  .title-group{
    border-width: 1px;
    border-style: solid;
    margin-top: 10px;
    margin-bottom: 10px;
    border-color: #737373;
  }

  .mat-card-content{
    font-size: 18px;
  }
  .uploadButton{
    width: 100%;
    height: 50px;
    font-size: 20px;
  }
  .uploadButtonContainer{
    margin-top: 20px;
  }

  ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

#file-label {
  display: inline-flex;
  vertical-align: middle;
  font-size: 15px;
  line-height: 18px;
  padding: 10px;
}

#file-label mat-icon {
  font-size: 18px;
  text-align: center;
}

#file-label a {
  cursor: pointer;
}

.upload-card{
  margin-top: 10px;
  margin-bottom: 10px;
}

.rm-upload-item{
  margin-left: 15px;
}
