@import '~@angular/material/theming';
@mixin sites-switch-component-theme($themestyle){
    $primary:map-get($themestyle,primary);
    $accent:map-get($themestyle,accent);
    //put all your theming styles here
    .ss-container{
        background-color: mat-color($themestyle-primary,300);
        height: 100%;
        color: white;
       
    }

    .ss-title{
        background-color: mat-color($themestyle-primary,50);
       
    }

}